:root {
  --body-pink: rgb(100, 10, 55);
  --body-blue: rgb(1, 15, 80);
  --body-white: #fff;
  --body-yellow: rgb(255, 160, 0);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s ease-out;
}

html {
  font-size: 16px;
}

body {
  background-image: linear-gradient(var(--body-pink));
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  align-items: center;
  font-family: "Courier New", Courier, monospace;
}

.game-board {
  width: min(90%, 700px);
  /* height: 480px; */
  padding: 20px;
  margin: auto;
  background-color: var(--body-white);
  background-image: url(images/bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  border: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  gap: 20px;
}

h1 {
  text-align: center;
}

.game-board h1 {
  font-size: 3rem;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  color: var(--body-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid var(--body-white);
  margin-bottom: 10px;
  padding-bottom: 10px;
}

.game-board h1 img {
  width: 75px;
  height: 75px;
  vertical-align: middle;
  border-radius: 20px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
}

.players {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  border-radius: 25px;
}

.players div {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.players div h2 {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  color: var(--body-white);
}

.players div span {
  font-size: 2.25rem;
  color: var(--body-white);
  cursor: pointer;
}

.players div label span.not-active {
  display: none;
}

.not-active {
  display: none;
}

.play {
  display: flex;
  justify-content: center;
}

.play button {
  font-size: 1.5rem;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  background-color: var(--body-pink);
  color: var(--body-white);
  letter-spacing: 5px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  padding: 10px 30px;
  border-radius: 25px;
  border: 2px solid var(--body-white);
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  cursor: pointer;
  opacity: 0.7;
}

.play button:hover {
  opacity: 1;
}

.play button:active {
  opacity: 0.7;
}

.game-interface {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.game-interface .player-pannel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: var(--body-yellow); */
}

.game-interface .player-pannel p {
  font-size: 1.5rem;
  color: var(--body-white);
  font-weight: 600;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  letter-spacing: 5px;
}

.game-interface .player-pannel .dice-value {
  width: 75px;
  /* border: 2px solid var(--body-white); */
  background-color: var(--body-yellow);
  height: 75px;
  padding: 5px;
}

.game-interface .player-pannel .dice-value.player1-dice-value {
  border: 8px solid var(--body-pink);
}

.game-interface .player-pannel .dice-value.player2-dice-value {
  border: 8px solid var(--body-blue);
}

.game-interface .player-pannel .dice-value img {
  width: 100%;
  height: 100%;
}

.play-board {
  width: 310px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  gap: 2px;
  position: relative;
}

.play-board .position-boxes {
  width: 50px;
  height: 40px;
  /* border-radius: 5px; */
  /* border: 1px solid var(--body-white); */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  /* color: var(--body-white); */
  font-weight: 600;
  background-color: var(--body-yellow);
}

.position-boxes.player1-coin,
.position-boxes.player2-coin {
  /* background-color: transparent; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* display: none; */
  position: absolute;
  z-index: 1000;
}

.playing-coin img {
  width: 20px;
  height: 20px;
  border-radius: 10px;
}

.player1-coin {
  bottom: 0px;
  left: 0px;
}

.player2-coin {
  bottom: 0px;
  left: 0px;
}

.roll-dice button {
  background-color: transparent;
  outline: none;
  cursor: pointer;
  width: 75px;
  height: 75px;
  padding: 5px;
  border: 2px solid var(--body-white);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.roll-dice button img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 5px solid var(--body-pink);
}

.roll-dice button img:hover {
  transform: scale(1.1);
}

.roll-dice button img:active {
  transform: scale(1);
}

/* .roll-dice button:disabled img {
  cursor: not-allowed;
  opacity: 0.5;
} */
